<ion-tabs>
    <ion-tab-bar>
        <!-- 首页页签 -->
        <ion-tab-button tab="index">
            <ion-icon name="home"></ion-icon>
            <ion-label>首页</ion-label>
        </ion-tab-button>
        <!-- 商品页签 -->
        <ion-tab-button tab="product-list">
            <ion-icon name="list"></ion-icon>
            <ion-label>商品</ion-label>
        </ion-tab-button>
        <!--购物车-->
        <ion-tab-button tab="cart">
            <ion-icon name="cart"></ion-icon>
            <ion-label>购物车</ion-label>
        </ion-tab-button>
        <!-- 用户 -->
        <ion-tab-button tab="user-login">
            <ion-icon name="person"></ion-icon>
            <ion-label>用户</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>